@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-qtools-50: oklch(0.965 0.011 274.97);
  --color-qtools-100: oklch(0.923 0.024 272.84);
  --color-qtools-200: oklch(0.855 0.047 273.34);
  --color-qtools-300: oklch(0.779 0.072 271.42);
  --color-qtools-400: oklch(0.702 0.1 269.59);
  --color-qtools-500: oklch(0.633 0.126 267.24);
  --color-qtools-600: oklch(0.556 0.128 265.77);
  --color-qtools-700: oklch(0.479 0.11 265.46);
  --color-qtools-800: oklch(0.408 0.095 265.68);
  --color-qtools-900: oklch(0.329 0.076 265.46);
  --color-qtools-950: oklch(0.235 0.053 264.06);
}
