@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-maroon-50: oklch(0.962 0.032 208.69);
  --color-maroon-100: oklch(0.923 0.067 206.58);
  --color-maroon-200: oklch(0.855 0.126 204.58);
  --color-maroon-300: oklch(0.764 0.113 204.55);
  --color-maroon-400: oklch(0.68 0.1 204.36);
  --color-maroon-500: oklch(0.586 0.087 204.2);
  --color-maroon-600: oklch(0.493 0.073 203.93);
  --color-maroon-700: oklch(0.408 0.06 204.69);
  --color-maroon-800: oklch(0.314 0.046 204);
  --color-maroon-900: oklch(0.228 0.034 205);
  --color-maroon-950: oklch(0.176 0.026 204.04);
}
